
.container {
  display: flex;
  justify-content: center;
}

#admin {
  align-self: flex-start;
  margin: 125px 5px 0 25px;
}
li {
  list-style-type: none;

}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input[type="text"], input[type="button"] {
  margin: 10px;
}

img {
  width: 400px;
}
.cat-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 125px 25px 0 25px;
  visibility: hidden;
}

.cat-list {
  margin: 125px 35px 0 25px;
}

.count {
  margin-bottom: 30px;
}
.form-buttons{
  display: inline;
}
